# Identifiants de la base de données
POSTGRES_USER=postgres
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=obrail

# Variables utilisées par le code Python
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
DB_NAME=obrail

# URL de connexion (le mot 'db' correspond au nom du service dans docker-compose)
DATABASE_URL=postgresql://postgres:votre_mot_de_passe@db:5432/obrail

# URL pour que le Dashboard puisse parler à l'API
API_URL=http://api:8000
